
input[type=text], select, textarea,input[type=email],input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.input-group input{
	display: block;
}

.input-group label{
	display: block;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
    float: right;
}

.titulo-encabezado {
	font-style:
	font-size: 40px;
	color: rgb(255,255,255); 

}

.titulos{
	font-size: 50px;
	font-family: 
	text-align:left;
	padding: 0px 0px 0px 0px;
	margin: 70px 12px 0 12px;
}

p{
	font-size: 20px;
	font-family: 
	text-align:left;
	margin: 5px 5px 50px 30px;
}

header {
	text-align: center;
	background-color: rgb(59,24,2);
	width: 92%;
	height: 100 px;
	border-style: solid;
	border-width: 30px;
	padding: 50px 0px 50px 50px;

}

body{
	background-color: rgb(255,255,255);
}

footer{
	text-align: left;
	background-color: rgb(59,24,2);
	width: 92%;
	height: 100 px;
	border-style: solid;
	border-width: 30px;
	padding: 50px 0px 50px 50px;
}

.izq{
	color: #ffffff;
	list-style-type: none;
	padding-left: 100px;
	padding-right: 100px;
	display: inline-block;
	font-size: 12px;
}

.cen{
	color: #ffffff;
	list-style-type: none;
	padding-left: 100px;
	padding-right: 100px;
	display: inline-block;
	font-size: 12px;
}

.der{
	color: #ffffff;
	list-style-type: none;
	padding-left: 100px;
	padding-right: 100px;
	display: inline-block;
	font-size: 12px;

}

.info {
	color: #ffffff;
	list-style-type: none;
	padding-left: 100px;
	padding-right: 100px;
	display: inline-block;
	font-size: 12px;
}


.buscador{
	float: right;
	text-align: left;
	color: rgb(255,255,255);

	border-radius: 25px;
	size: 10;
}


